{% extends 'template.html' %}
{% block content %}
    <div id="settings-container">
    <div class="settings-row add-food">
        <h3>Add Food</h3>
        <p>Category</p>
        <p>Food</p>
        <button type="submit">Submit Button</button>
    </div>
    <div class="settings-row add-custom">
        <h3>Add Custom</h3>
        <p>Food name</p>
        <p>Calories</p>
        <p>Carbohydrates</p>
        <p>Protein</p>
        <p>Fat</p>
        <button type="submit">Submit Button</button>
    </div>
    </div>
{% endblock content %}