{% extends 'template.html' %}
{% block content %}
    <div id="daily-log-body">
        <h2>Keep Track of Your Day</h2>
        <div id="daily-log-progress-container">
            <div class="ldBar label-center progress-circle" style="width:150px; height:150px;" data-value="25" data-preset="circle" data-stroke-width="5" data-stroke="#F58233"></div>
            <div class="ldBar label-center progress-circle" style="width:150px; height:150px;" data-value="35" data-preset="circle" data-stroke-width="5" data-stroke="#8BC1E7"></div>
        </div>
        <div id="daily-log-progress-container">
            <div class="settings-button-container">
                <div class="settings-button settings-button-2"><a id="add_exercise-button">Add Exercise</a></div>
                <p>Target calories: {{ target_cals }}</p>
                <p>Calories under budget: {{ cals_under }}</p>
                <p>Calories burned today: {{ ex_cals }}</p>
                <p>Net Calories today: {{ net_cals }}</p>
                <p>Protein total: {{ totalp }}</p>
                <p>Fat total: {{ totalf }}</p>
                <p>Carbs total: {{ totalc }}</p>
                <div class="settings-button settings-button-2"><a id="update_weight-button">Update Weight</a></div>
        </div>
        <div id="meal-select">
            <div class="meal-select-meal">
                <h3>Breakfast: {{ breakfast }}</h3>
                <h4>Recommended Calories: {{ targetb }} </h4>
            </div>
            <div class="meal-select-meal">
                <h3>Lunch: {{ lunch }}</h3>
                <h4>Recommended Calories: {{ targetl }} </h4>
            </div>
            <div class="meal-select-meal">
                <h3>Dinner: {{ dinner }}</h3>
                <h4>Recommended Calories: {{ targetd }}</h4>
            </div>
            <div class="meal-select-meal">
                <h3>Snacks: {{ snacks }}</h3>
                <h4>Recommended Calories: {{ targets }}</h4>
                <div class="settings-button-container">
                <div class="settings-button settings-button-2"><a id="add_food-button">Add Food Breakfast</a></div>
            </div>
            </div>
            <div id="meal-select-ldBars">
                <p>Target Fat: {{ targetf }}g</p>
                <div class="ldBar" style="width: 100%; height: 50px;" data-value="35" data-preset="line" data-stroke-width="5" data-stroke="#8BC1E7"></div>
                <p>Target Protein: {{ targetp }}g</p>
                <div class="ldBar" style="width: 100%; height: 50px;" data-value="35" data-preset="line" data-stroke-width="5" data-stroke="#8BC1E7"></div>
                <p>Target Carbs: {{ targetc }}g</p>
                <div class="ldBar" style="width: 100%; height: 50px;" data-value="35" data-preset="line" data-stroke-width="5" data-stroke="#8BC1E7"></div>
            </div>
        </div>
    </div>
    <div class="modal" id="add_food-modal">
        <div class="modal-content">
            <div class="close"><i class="fas fa-times"></i></div>
            <h3>Add Food</h3>
            <form method="POST">
                <div class="add-custom">
                {{ foodForm.category }}
                <div class="settings-button settings-button-2"><a id="add_custom-button">Add Custom Food</a></div><br>
                <button type="submit" name="add_food">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal" id="add_custom-modal">
        <div class="modal-content">
            <div class="close"><i class="fas fa-times"></i></div>
            <h3>Add Custom Food</h3>
            <form method="POST">
                {%  csrf_token %}
                <div class="add-custom">
                    {{ form }}
                <button type="submit" name="add_custom">Add Custom Food</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal" id="add_exercise-modal">
        <div class="modal-content">
            <div class="close"><i class="fas fa-times"></i></div>
            <h3>Add Exercise</h3>
            {% load filters %}
            <form method="POST">
                {%  csrf_token %}
                <div class="add-custom">
                <select name="type">Exercise Type
                    <option>Cardio</option>
                    <option>Strength</option>
                    <option>Custom</option>
                </select>
                <select name="exercise" disabled>Exercise Type
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>
                <div class="settings-button settings-button-2"><a id="add_customex-button">Add Custom Exercise</a></div><br>
                <button type="submit" name="add_exercise">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal" id="add_customex-modal">
        <div class="modal-content">
            <div class="close"><i class="fas fa-times"></i></div>
            <h3>Add Custom Exercise</h3>
            <form method="POST">
                {%  csrf_token %}
                <div class="add-custom">
                    {{ exerciseForm }}
                <button type="submit" name="add_customex">Add Custom Exercise</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal" id="update_weight-modal">
        <div class="modal-content">
            <div class="close"><i class="fas fa-times"></i></div>
            <h3>Update Weight</h3>
            <form method="POST">
                {%  csrf_token %}
                <div class="add-custom">
                    {{ weightForm }}
                <button type="submit" name="update_weight">Update Weight</button>
                </div>
            </form>
        </div>
    </div>
    </div>

    <script>
        var add_foodModal = document.getElementById('add_food-modal');
        var add_foodButton = document.getElementById("add_food-button");
        var add_foodClose = document.getElementsByClassName("close")[0];
        var add_customModal = document.getElementById('add_custom-modal');
        var add_customButton = document.getElementById("add_custom-button");
        var add_customClose = document.getElementsByClassName("close")[1];
        var add_exerciseModal = document.getElementById('add_exercise-modal');
        var add_exerciseButton = document.getElementById("add_exercise-button");
        var add_exerciseClose = document.getElementsByClassName("close")[2];
        var add_customexModal = document.getElementById('add_customex-modal');
        var add_customexButton = document.getElementById("add_customex-button");
        var add_customexClose = document.getElementsByClassName("close")[3];
        var update_weightModal = document.getElementById('update_weight-modal');
        var update_weightButton = document.getElementById("update_weight-button");
        var update_weightClose = document.getElementsByClassName("close")[4];

        add_foodButton.onclick = function() {
            add_foodModal.style.display = "flex";
        };
        add_foodClose.onclick = function() {
            add_foodModal.style.display = "none";
        };
        add_customButton.onclick = function() {
            add_customModal.style.display = "flex";
        };
        add_customClose.onclick = function() {
            add_customModal.style.display = "none";
        };
        add_exerciseButton.onclick = function() {
            add_exerciseModal.style.display = "flex";
        };
        add_exerciseClose.onclick = function() {
            add_exerciseModal.style.display = "none";
        };
        add_customexButton.onclick = function() {
            add_customexModal.style.display = "flex";
        };
        add_customexClose.onclick = function() {
            add_customexModal.style.display = "none";
        };
        update_weightButton.onclick = function() {
            update_weightModal.style.display = "flex";
        };
        update_weightClose.onclick = function() {
            update_weightModal.style.display = "none";
        };

        window.onclick = function(event) {
            if (event.target === add_foodModal) {
                add_foodModal.style.display = "none";
            }
            else if (event.target === add_customModal){
                add_customModal.style.display = "none";
                add_foodModal.style.display = "none";
            }
            else if (event.target === add_exerciseModal){
                add_exerciseModal.style.display = "none";
            }
            else if (event.target === add_customexModal){
                add_customexModal.style.display = "none";
            }
            else if (event.target === update_weightModal){
                update_weightModal.style.display = "none";
            }
        };
    </script>
{% endblock content %}