<!-- Tracker Home/Dashboard Page -->
<!-- Page acts as landing page when a user has logged in. Displays broad information about the user's day. -->

{% extends 'template.html' %}
{% block content %}
    <div class="nav-mobile">
        <i class="fas fa-bars nav-mobile-button"></i>
    </div>

    <div id="home-container">
        <h1>Welcome, {{ user.first_name }}</h1>
        <h2>Let's take a look how your day's going...</h2>
        <h3>{{ date }}</h3>

        <!-- Dials containing user information/progress for the day. -->
        <div id="home-progress-container">
            <div class="progress-circle progress-circle-no-percent">
                <div class="ldBar label-center" style="width:200px; height:200px;" data-value="{{ acc.calorie_progress }}" data-preset="circle" data-stroke-width="5" data-stroke="#F8A032"></div>
                <p>Calories Remaining</p>
            </div>
            <div class="progress-circle progress-circle-no-percent">
                <div class="ldBar label-center" style="width:200px; height:200px;" data-value="{{ days_progress }}" data-preset="circle" data-stroke-width="5" data-stroke="#F8A032"></div>
                <p>Days Until Goal</p>
            </div>
            <div class="progress-circle">
                <div class="ldBar label-center" style="width:200px; height:200px;" data-value="{{ goal_progress }}" data-preset="circle" data-stroke-width="5" data-stroke="#F8A032"></div>
                <p>Goal Progress</p>
            </div>
        </div>
    </div>

    <script>
        //Updating information on the page with user's information.
        window.onload = function() {
            var progressText = document.getElementsByClassName('ldBar-label');
            progressText[0].innerHTML = {{ acc.calories_under }};
            progressText[1].innerHTML = {{ days }};
        };
    </script>
{% endblock content %}