{% extends 'template.html' %}
{% block content %}
    <div id="home-container">
        <h1>Welcome, {{ user.first_name }}</h1>
        <h2>Let's take a look how your day's going...</h2>
        <h3>{{ date }}</h3>
         <div id="home-progress-container">
            <div class="ldBar label-center progress-circle" style="width:200px; height:200px;" data-value="25" data-preset="circle" data-stroke-width="5" data-stroke="#F8A032"></div>
            <div class="ldBar label-center progress-circle" style="width:200px; height:200px;" data-value="35" data-preset="circle" data-stroke-width="5" data-stroke="#F8A032"></div>
            <div class="ldBar label-center progress-circle" style="width:200px; height:200px;" data-value="45" data-preset="circle" data-stroke-width="5" data-stroke="#F8A032"></div>
             <p>Calories remaining, Days until goal, Goal Progress</p>
        </div>
    </div>
{% endblock content %}