{% extends 'template.html' %}
{% block content %}
    <div id="tabs">
        <div class="groups-list">
            <ul>
                {% for group in groups %}
                    <li><a href="#{{ group.group.id }}">{{ group.group.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% for set in messages %}
            <div id="{% for message in set %}{% if forloop.first %}{{ message.group.id }}{% endif %}{% endfor %}">
                <div class="groups-messages" id="chat-{% for message in set %}{% if forloop.first %}{{ message.group.id }}{% endif %}{% endfor %}">
                {% for message in set %}
                    {% if message.author == user %}
                        <div class="groups-messages-user">
                            <h6>{{ message.author.first_name }} {{ message.author.last_name }}</h6>
                            <p>{{ message.message }}</p>
                            <div class="profile-picture" style="background-image: url('{{ message.author.profile.image.url }}'); width: 34px; height: 34px;"></div>
                        </div>
                    {% else %}
                        <div>
                            <h6>{{ message.author.first_name }} {{ message.author.last_name }}</h6>
                            <div class="profile-picture" style="background-image: url('{{ message.author.profile.image.url }}'); width: 34px; height: 34px;"></div>
                            <p>{{ message.message }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
                {% for message in set %}
                    {% if forloop.first %}
                        <form method="POST" id="form-{{ message.group.id }}">
                        {%  csrf_token %}
                        {% for field in form %}
                            <div class="groups-chat-box">
                                {{ field }}
                                <input type="hidden" name="group" value="{{ message.group.id }}">
                                <button type="submit"><i class="fas fa-paper-plane"></i></button>
                            </div>
                        {% endfor %}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
        {% for group in groups %}
        $(document).on('submit', '#form-{{ group.group.id }}', function(e) {
            e.preventDefault();

            $.ajaxSetup ({
                cache: false
            });

            $.ajax({
                type: 'POST',
                url: '{% url 'tracker-groups' %}',
                data: {
                    csrfmiddlewaretoken: $('#form-{{ group.group.id }} input[name=csrfmiddlewaretoken]').val(),
                    message: $('#form-{{ group.group.id }} input[name=message]').val(),
                    group: $('#form-{{ group.group.id }} input[name=group]').val()
                },
                success: function() {
                    $('#chat-{{ group.group.id }}').load(document.URL +  ' #chat-{{ group.group.id }}>*');
                    $('#form-{{ group.group.id }} input[name=message]').val("");
                    $("html, body").animate({ scrollTop: $(document).height() }, "slow");
                },
            });
        });
        {% endfor %}

        $(function() {
            $("#tabs").tabs();
        });

        {% for group in groups %}
        $(function() {
            $('#chat-{{ group.group.id }}').load(document.URL +  ' #chat-{{ group.group.id }}>*');
            setTimeout(arguments.callee, 1000);
        });
        {% endfor %}
    </script>
{% endblock content %}