{% extends 'template.html' %}
{% block content %}
    <div id="tabs">
        <div class="groups-list">
            <ul id="groups-side">
                {% for message in last %}
                    <li>
                        <a href="#{{ message.group.id }}">{{ message.group.name }}<br><span>{{ message.author.first_name }}: {{ message.message }}</span></a>
                    </li>
                {% endfor %}
            </ul>
            <div id="groups-side-bottom">
                <p>Hey</p>
            </div>
        </div>
        {% for set in messages %}
            <div id="{% for message in set %}{% if forloop.first %}{{ message.group.id }}{% endif %}{% endfor %}">
                <div class="groups-messages" id="chat-{% for message in set %}{% if forloop.first %}{{ message.group.id }}{% endif %}{% endfor %}">
                {% for message in set %}
                    {% ifchanged message.author %}
                        {% if message.author == user %}
                        <div class="groups-messages-user">
                            <h6>{{ message.author.first_name }} {{ message.author.last_name }}</h6>
                            <p>{{ message.message }}</p>
                            <div class="profile-picture" style="background-image: url('{{ message.author.profile.image.url }}'); width: 34px; height: 34px;"></div>
                        </div>
                        {% else %}
                        <div>
                            <h6>{{ message.author.first_name }} {{ message.author.last_name }}</h6>
                            <div class="profile-picture" style="background-image: url('{{ message.author.profile.image.url }}'); width: 34px; height: 34px;"></div>
                            <p>{{ message.message }}</p>
                        </div>
                        {% endif %}
                    {% else %}
                        {% if message.author == user %}
                        <div class="groups-messages-user">
                            <p style="margin: -3px 43px 5px 0">{{ message.message }}</p>
                        </div>
                        {% else %}
                        <div>
                            <p style="margin: -3px 0 5px 43px">{{ message.message }}</p>
                        </div>
                        {% endif %}
                    {% endifchanged %}
                {% endfor %}
                </div>
                {% for message in set %}
                    {% if forloop.first %}
                        <form method="POST" id="form-{{ message.group.id }}">
                        {%  csrf_token %}
                        {% for field in form %}
                            <div class="groups-chat-box">
                                {{ field }}
                                <input type="hidden" name="group" value="{{ message.group.id }}">
                                <button type="submit"><i class="fas fa-paper-plane"></i></button>
                            </div>
                        {% endfor %}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <script type="text/javascript">
        {% for group in groups %}
        $(document).on('submit', '#form-{{ group.group.id }}', function(e) {
            e.preventDefault();

            $.ajaxSetup ({
                cache: false
            });

            $.ajax({
                type: 'POST',
                url: '{% url 'tracker-groups' %}',
                data: {
                    csrfmiddlewaretoken: $('#form-{{ group.group.id }} input[name=csrfmiddlewaretoken]').val(),
                    message: $('#form-{{ group.group.id }} input[name=message]').val(),
                    group: $('#form-{{ group.group.id }} input[name=group]').val()
                },
                success: function() {
                    $('#groups-side').load(document.URL +  ' #groups-side>*');
                    $('#chat-{{ group.group.id }}').load(document.URL +  ' #chat-{{ group.group.id }}>*');
                    $('#form-{{ group.group.id }} input[name=message]').val("");
                    $("html, body").animate({ scrollTop: $(document).height() }, "slow");
                },
            });
        });
        {% endfor %}

        $(function() {
            var tabs = $("#tabs").tabs();
            $("html, body").animate({ scrollTop: $(document).height() }, "slow");

            $(function() {
                setTimeout(arguments.callee, 1000);
                tabs.tabs("refresh")
            });
        });
    </script>
{% endblock content %}