{% extends 'template.html' %}
{% block content %}
    <div class="nav-mobile">
        <i class="fas fa-bars nav-mobile-button"></i>
    </div>
    <div id="settings-container">
        <div id="settings-top-bar">
            <div class="profile-picture" style="background-image: url('{{ user.profile.image.url }}'); width: 150px; height: 150px;"></div>
            <div id="settings-top-information">
                <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                <p>Member since {{ format_date }}</p>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="{{ message.tags }} message-adjust">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="settings-row">
            <h3>Account Details</h3>
            <div class="settings-row-section settings-first">
                <p>Name</p>
                <p>Username</p>
                <p>Email Address</p>
            </div>
            <div class="settings-row-section settings-second">
                <p>{{ user.first_name }} {{ user.last_name }}</p>
                <p>{{ user.username }}</p>
                <p>{{ user.email }}</p>
            </div>
            <div class="settings-button-container">
                <div class="settings-button settings-button-2"><a>Edit</a></div>
                <div class="settings-button settings-button-2"><a>Change Password</a></div>
            </div>
        </div>
        <div class="settings-row">
            <h3>Profile</h3>
            <div class="settings-row-section settings-first">
                <p>Date of Birth</p>
                <p>Sex</p>
                <p>Height</p>
                <p>Weight</p>
                <p>Activity Level</p>
            </div>
            <div class="settings-row-section settings-second">
                <p>{{ user.profile.birth_date }}</p>
                {% if user.profile.sex == 'M' %}
                    <p>Male</p>
                {% else %}
                    <p>Female</p>
                {% endif %}
                <p>{{ user.profile.height }} cm</p>
                <p>{{ user.profile.weight }} kg</p>
                {% if user.profile.activity_level == '1.2' %}
                    <p>Sedentary</p>
                {% elif user.profile.activity_level == '1.375' %}
                    <p>Lightly Active</p>
                {% elif user.profile.activity_level == '1.55' %}
                    <p>Moderately Active</p>
                {% else %}
                    <p>Highly Active</p>
                {% endif %}
            </div>
            <div class="settings-button-container">
                <div class="settings-button settings-button-2"><a>Edit</a></div>
            </div>
        </div>
        <div class="settings-row">
            <h3>Custom Food</h3>
            {% if foods %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Calories (kcal)</th>
                        <th>Carbohydrates (g)</th>
                        <th>Fat (g)</th>
                        <th>Protein (g)</th>
                    </tr>
                    {% for food in foods %}
                    <tr>
                        <td>{{ food.name }}</td>
                        <td>{{ food.calories }}</td>
                        <td>{{ food.carbs }}</td>
                        <td>{{ food.fat }}</td>
                        <td>{{ food.protein }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="settings-button-container">
                    <form method="POST">
                        {%  csrf_token %}
                        <div class="settings-button settings-button-2">
                            <button type="submit" name="clear_food">Clear All</button>
                        </div>
                    </form>
                </div>
            {% else %}
                <p>No custom foods have been added. To add some custom foods, visit the Daily Log page.</p>
            {% endif %}
        </div>
        <div class="settings-row">
            <h3>Custom Exercises</h3>
            {% if exercises %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                    </tr>
                    {% for exercise in exercises %}
                    <tr>
                        <td>{{ exercise.name }}</td>
                        <td>
                        {% if exercise.type == 'C' %}
                            Cardio
                        {% else %}
                            Strength
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="settings-button-container">
                    <form method="POST">
                        {%  csrf_token %}
                        <div class="settings-button settings-button-2">
                            <button type="submit" name="clear_exercise">Clear All</button>
                        </div>
                    </form>
                </div>
            {% else %}
                <p>No custom exercises have been added. To add some custom exercises, visit the Daily Log page.</p>
            {% endif %}
        </div>
        <div class="settings-button"><a href="{% url 'users-logout' %}">Log Out</a></div>
        <form method="POST">
            {%  csrf_token %}
            <div class="settings-button">
                <button type="submit" name="delete_account">Delete Account</button>
            </div>
        </form>
    </div>

    <div class="modal">
        <div class="modal-content">
            <div class="close"><i class="fas fa-times"></i></div>
            <h3>Update Account</h3>
            {% load filters %}
            <form method="POST">
                {%  csrf_token %}
                <ul>
                    {% for field in update_account_form %}
                        <li class="form-field">
                            <p>{{ field.errors }}</p>
                            <p class="form-label">{{ field.label_tag }}</p>
                            {{ field|add:'form-input' }}
                            <p class="form-help">{{ field.help_text }}</p>
                        </li>
                    {% endfor %}
                </ul>
                <button type="submit" name="update_account">Submit</button>
            </form>
        </div>
    </div>
    <div class="modal">
        <div class="modal-content">
            <div class="close"><i class="fas fa-times"></i></div>
            <h3>Change Password</h3>
            {% load filters %}
            <form method="POST">
                {%  csrf_token %}
                <ul>
                    {% for field in update_password_form %}
                        <li class="form-field">
                            <p>{{ field.errors }}</p>
                            <p class="form-label">{{ field.label_tag }}</p>
                            {{ field|add:'form-input' }}
                            <p class="form-help">{{ field.help_text }}</p>
                        </li>
                    {% endfor %}
                </ul>
                <button type="submit" name="update_password">Submit</button>
            </form>
        </div>
    </div>
    <div class="modal">
        <div class="modal-content">
            <div class="close"><i class="fas fa-times"></i></div>
            <h3>Update Profile</h3>
            {% load filters %}
            <form method="POST" enctype="multipart/form-data">
                {%  csrf_token %}
                <ul>
                    {% for field in update_profile_form %}
                        <li class="form-field">
                            <p>{{ field.errors }}</p>
                            <p class="form-label">{{ field.label_tag }}</p>
                            {{ field|add:'form-input' }}
                            <p class="form-help">{{ field.help_text }}</p>
                        </li>
                    {% endfor %}
                </ul>
                <button type="submit" name="update_profile">Submit</button>
            </form>
        </div>
    </div>

    <script>
        var modal = document.getElementsByClassName('modal');
        var open = document.getElementsByClassName('settings-button-2');
        var close = document.getElementsByClassName('close');

        for (var i=0; i<modal.length; i++) (function (i) {
            open[i].onclick = function() {
                modal[i].style.display = 'flex';
            };
            close[i].onclick = function() {
                modal[i].style.display = 'none';
            };
        })(i);
    </script>
{% endblock content %}