{% extends 'template.html' %}
{% block content %}
    <div id="settings-container">
        <div id="settings-top-bar">
            <div class="profile-picture" style="background-image: url('{{ user.profile.image.url }}'); width: 150px; height: 150px;"></div>
            <div id="settings-top-information">
                <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                <p>Member since {{ format_date }}</p>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="{{ message.tags }} message-adjust">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="settings-row">
            <h3>Account Details</h3>
            <div class="settings-row-section settings-first">
                <p>Name</p>
                <p>Username</p>
                <p>Email Address</p>
            </div>
            <div class="settings-row-section settings-second">
                <p>{{ user.first_name }} {{ user.last_name }}</p>
                <p>{{ user.username }}</p>
                <p>{{ user.email }}</p>
            </div>
            <div class="settings-button-container">
                <div class="settings-button settings-button-2"><a id="account-button">Edit</a></div>
                <div class="settings-button settings-button-2"><a id="password-button">Change Password</a></div>
            </div>
        </div>
        <div class="settings-row">
            <h3>Profile</h3>
            <div class="settings-row-section settings-first">
                <p>Date of Birth</p>
                <p>Sex</p>
                <p>Height</p>
                <p>Weight</p>
                <p>Activity Level</p>
            </div>
            <div class="settings-row-section settings-second">
                <p>{{ user.profile.birth_date }}</p>
                {% if user.profile.sex == 'M' %}
                    <p>Male</p>
                {% else %}
                    <p>Female</p>
                {% endif %}
                <p>{{ user.profile.height }} cm</p>
                <p>{{ user.profile.weight }} kg</p>
                {% if user.profile.activity_level == '1.2' %}
                    <p>Sedentary</p>
                {% elif user.profile.activity_level == '1.375' %}
                    <p>Lightly Active</p>
                {% elif user.profile.activity_level == '1.55' %}
                    <p>Moderately Active</p>
                {% else %}
                    <p>Highly Active</p>
                {% endif %}
            </div>
            <div class="settings-button-container">
                <div class="settings-button settings-button-2"><a id="profile-button">Edit</a></div>
            </div>
        </div>
        <div class="settings-row">
            <h3>Weight Goal</h3>
            <div class="settings-row-section settings-first">
                <p>Target Weight</p>
                <p>Target Date</p>
            </div>
            <div class="settings-row-section settings-second">
                <p>{{ user.weightgoal.target_weight }} kg</p>
                <p>{{ user.weightgoal.target_date }}</p>
            </div>
            <div class="settings-button-container">
                <div class="settings-button settings-button-2"><a>Edit</a></div>
            </div>
        </div>
        <div class="settings-row">
            <h3>Exercise Goal</h3>
            {% if user.exercisegoal %}
                <div class="settings-row-section settings-first">
                    <p>Target Calories</p>
                </div>
                <div class="settings-row-section settings-second">
                    <p>{{ user.exercisegoal.target_calories }}</p>
                </div>
                <div><a href="#">Edit</a></div>
            {% else %}
                <p>No exercise goal created.</p>
            {% endif %}
        </div>
        <div class="settings-row">
            <h3>Completed Goals</h3>
        </div>
        <div class="settings-row">
            <h3>Custom Food</h3>
        </div>
        <div class="settings-row">
            <h3>Custom Exercises</h3>
            <p>{{ exercises }}</p>
        </div>
        <div class="settings-button"><a href="{% url 'users-logout' %}">Log Out</a></div>
        <div class="settings-button"><a href="#">Delete Account</a></div>
    </div>

    <div class="modal" id="account-modal">
        <div class="modal-content">
            <div class="close"><i class="fas fa-times"></i></div>
            <h3>Update Account</h3>
            {% load filters %}
            <form method="POST">
                {%  csrf_token %}
                <ul>
                    {% for field in update_account_form %}
                        <li class="form-field">
                            <p>{{ field.errors }}</p>
                            <p class="form-label">{{ field.label_tag }}</p>
                            {{ field|add:'form-input' }}
                            <p class="form-help">{{ field.help_text }}</p>
                        </li>
                    {% endfor %}
                </ul>
                <button type="submit" name="update_account">Submit</button>
            </form>
        </div>
    </div>
    <div class="modal" id="password-modal">
        <div class="modal-content">
            <div class="close"><i class="fas fa-times"></i></div>
            <h3>Change Password</h3>
            {% load filters %}
            <form method="POST">
                {%  csrf_token %}
                <ul>
                    {% for field in update_password_form %}
                        <li class="form-field">
                            <p>{{ field.errors }}</p>
                            <p class="form-label">{{ field.label_tag }}</p>
                            {{ field|add:'form-input' }}
                            <p class="form-help">{{ field.help_text }}</p>
                        </li>
                    {% endfor %}
                </ul>
                <button type="submit" name="update_password">Submit</button>
            </form>
        </div>
    </div>
    <div class="modal" id="profile-modal">
        <div class="modal-content">
            <div class="close"><i class="fas fa-times"></i></div>
            <h3>Update Profile</h3>
            {% load filters %}
            <form method="POST" enctype="multipart/form-data">
                {%  csrf_token %}
                <ul>
                    {% for field in update_profile_form %}
                        <li class="form-field">
                            <p>{{ field.errors }}</p>
                            <p class="form-label">{{ field.label_tag }}</p>
                            {{ field|add:'form-input' }}
                            <p class="form-help">{{ field.help_text }}</p>
                        </li>
                    {% endfor %}
                </ul>
                <button type="submit" name="update_profile">Submit</button>
            </form>
        </div>
    </div>


    <script>
        var accountModal = document.getElementById('account-modal');
        var accountButton = document.getElementById("account-button");
        var accountClose = document.getElementsByClassName("close")[0];
        var passwordModal = document.getElementById('password-modal');
        var passwordButton = document.getElementById("password-button");
        var passwordClose = document.getElementsByClassName("close")[1];
        var profileModal = document.getElementById('profile-modal');
        var profileButton = document.getElementById("profile-button");
        var profileClose = document.getElementsByClassName("close")[2];

        {% if modal == 'update_account' %}
            window.onload = function() {
                accountModal.style.display = "flex"
            };
        {% elif modal == 'update_password' %}
            window.onload = function() {
                passwordModal.style.display = "flex"
            };
        {% elif modal == 'update_profile' %}
            window.onload = function() {
                profileModal.style.display = "flex"
            };
        {% endif %}

        accountButton.onclick = function() {
            accountModal.style.display = "flex";
        };
        accountClose.onclick = function() {
            accountModal.style.display = "none";
        };
        passwordButton.onclick = function() {
            passwordModal.style.display = "flex";
        };
        passwordClose.onclick = function() {
            passwordModal.style.display = "none";
        };
        profileButton.onclick = function() {
            profileModal.style.display = "flex";
        };
        profileClose.onclick = function() {
            profileModal.style.display = "none";
        };
        window.onclick = function(event) {
            if (event.target === accountModal) {
                accountModal.style.display = "none";
            } else if (event.target === passwordModal) {
                passwordModal.style.display = "none";
            } else if (event.target === profileModal) {
                profileModal.style.display = "none";
            }
        };
    </script>
{% endblock content %}