/* File that contains all CSS styling for pages post-login */

/* TEMPLATE */

* {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
}

nav {
    position: fixed;
    height: 100%;
    width: 250px;
    z-index: 2;
    top: 0;
    left: 0;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #F37335, #FDC830);
    color: white;
    transition: 0.5s;
}

nav li {
    height: auto;
}

#logo {
    margin: 40px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

#logo i {
    margin-right: 5px;
}

nav a {
    display: table;
    width: 100%;
    padding-left: 30px;
    text-decoration: none;
    color: white;
    font-weight: 300;
}

nav a span, nav a p {
    display: table-cell;
    vertical-align: middle;
}

nav a span {
    height: 40px;
    width: 50px;
    text-align: center;
}

.selected, nav a:hover {
    color: #F58233;
    background-color: white;
}

main {
    margin-left: 250px;
    transition: 0.5s;
}

.nav-mobile {
    display: none;
    position: fixed;
    z-index: 1;
    background-image: linear-gradient(to top, #FBC33B, #F68934);
    width: 100%;
    color: white;
    font-size: 20px;
    top: 0;
    left: 0;
    transition: 0.5s;
    outline: solid 12px rgba(0,0,0,0.07);
    height: 50px;
}

.nav-mobile-button {
    padding: 15px 20px;
    float: left;
}

.nav-mobile-add {
    padding: 15px 20px;
    float: right;
}

.nav-mobile-button:hover {
    background-color: rgba(255,255,255,0.1);
}

.nav-mobile-add:hover {
    background-color: rgba(255,255,255,0.1);
}

.move {
    left: 250px;
}

.move-2 {
    left: 0;
}

.move-3 {
    left: -300px;
}

.move-4 {
    right: 0 !important;
}

.move-5 {
    left: -275px;
}

/* TEMPLATE MOBILE */

@media screen and (max-width: 600px) {
    nav {
        left: -250px;
    }

    .nav-mobile {
        display: block;
    }

    main {
        margin-left: 0;
        padding-top: 50px;
    }
}

/* HOME PAGE */

#home-container {
    color: rgba(0,0,0,0.4);
    text-align: center;
}

#home-container h1 {
    font-weight: 100;
    font-size: 40px;
    margin-top: 70px;
}

#home-container h2 {
    font-weight: 100;
    font-size: 30px;
    margin-top: 40px;
}

#home-container h3 {
    margin: 30px 0;
    color: #F58233;
    font-size: 25px;
}

#home-progress-container {
    text-align: center;
}

.progress-circle-no-percent .ldBar-label:after {
    content: '';
}

.ldBar-label {
    color: rgba(0,0,0,0.4);
    font-weight: 100;
    font-size: 25px;
}

.progress-circle {
    display: inline-block;
}

.progress-circle p {
    margin: 0;
    font-weight: 100;
}

/* HOME MOBILE */

@media screen and (max-width: 600px) {
    #home-container h1 {
        margin-top: 50px;
        font-size: 35px;
    }

    #home-container h2 {
        font-size: 25px;
    }

    #home-container h3 {
        font-size: 23px;
        margin: 30px 0 20px 0;
    }

    .progress-circle {
        display: block;
        margin-bottom: 20px;
    }

    .progress-circle .ldBar {
        display: inline-block;
    }

    .progress-circle p {
        margin-top: -5px;
    }
}

/* DAILY LOG PAGE */

#daily-log-body {
    width: calc(100% - 300px);
    padding: 30px 30px 0 30px;
    text-align: center;
}

#daily-log-top h2 {
    font-weight: 100;
    font-size: 30px;
}

#daily-log-progress-container {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(0,0,0,0.1);
}

#daily-log-bottom {
    display: inline-block;
    background: linear-gradient(to bottom, #8BC1E7, #D4E8F6);
    padding: 15px;
    margin: 30px;
    vertical-align: middle;
}

#daily-log-bottom div {
    background-color: white;
    padding: 7px 20px;
}

.daily-log-bottom-button {
    width: 100%;
    text-align: left;
    display: table;
}

#daily-log-bottom img {
    width: 50px;
    display: inline-block;
}

.daily-log-bottom-button h3 {
    font-weight: 300;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}

.daily-log-bottom-button a {
    margin-left: 30px;
    display: table-cell;
}

.daily-log-bottom-button a, #meal-select a {
    float: right;
    font-size: 25px;
    color: rgba(0,0,0,0.4);
}

.daily-log-bottom-button a:hover, #meal-select a:hover {
    color: rgba(0,0,0,0.8);
}

#daily-log-nutrition {
    width: 100%;
    border-top: solid 1px rgba(0,0,0,0.1);
    margin-bottom: 50px;
}

#daily-log-nutrition-wrapper {
    width: 500px;
    display: inline-block;
}

#daily-log-nutrition h2 {
    padding: 20px 0;
    font-weight: 100;
}

.progress-line {
    display: block;
}

.progress-line-text, .progress-line .ldBar {
    display: inline-block;
    margin: 10px 0;
}

.progress-line-text {
    float: left;
    clear: both;
}

.progress-line .ldBar {
    float: right;
    transform: translateY(5px);
}

.progress-line h4, .progress-line h5 {
    text-align: left;
}

.progress-line h4 {
    font-size: 20px;
    font-weight: 400;
    color: rgba(0,0,0,0.8);
}

.progress-line h5 {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(0,0,0,0.4);
}

.progress-line .ldBar-label {
    font-size: 17px;
    font-weight: 200;
    margin-top: -50px;
}

#meal-select {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 300px;
    background-color: white;
    min-height: 100vh;
    text-align: left;
    border-left: solid 1px rgba(0,0,0,0.1);
    transition: 0.5s;
}

.meal-select-meal {
    margin: 30px 30px;
}

.meal-select-meal:nth-child(1) {
    margin-top: 90px;
}

#meal-select h3 {
    font-weight: 400;
    font-size: 20px;
    color: rgba(0,0,0,0.8);
    margin-bottom: 5px;
}

#meal-select h4 {
    font-weight: 300;
    font-size: 14px;
    color: rgba(0,0,0,0.4);
}

#meal-select h5 {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    color: rgba(0,0,0,0.8);
}

/* DAILY LOG MOBILE */

@media screen and (max-width: 600px) {
    #meal-select {
        right: -300px;
    }

    #daily-log-body {
        width: 100%;
    }

    #daily-log-bottom {
        margin: 30px 0;
        width: 100%;
    }

    .daily-log-bottom-button h3 {
        padding: 5px;
    }

    .daily-log-bottom-button a {
        margin-left: 0;
    }

    #daily-log-bottom div {
        padding: 5px;
    }

    #daily-log-nutrition-wrapper {
        width: 100%;
    }

    .progress-line {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .progress-line .ldBar {
        float: none;
    }

    .progress-line-text, .progress-line .ldBar {
        display: block;
        margin: 10px auto;
    }

    .progress-line-text {
        width: 100%;
    }

    .progress-line-text h4, .progress-line-text h5 {
        text-align: center;
    }
}

/* GOALS PAGE */

#goals-main {
    background-color: rgb(254,246,235);
    height: 100%;
    min-height: 100vh;
}

#goals-top {
    background-color: white;
    border-bottom: 1px solid rgb(232,232,233);
    height: 390px;
    white-space: nowrap;
}

#goals-top-left {
    display: inline-block;
    width: 33%;
    min-width: 300px;
    height: 100%;
    vertical-align: top;
    padding: 30px;
    text-align: center;
}

#goals-top-left h3 {
    font-weight: 100;
    font-size: 25px;
    color: rgba(0,0,0,0.6);
    padding: 15px 0;
}

#goals-top-left .progress-circle {
    display: inline-block;
}

#chart-container {
    display: inline-block;
    width: calc(67% - 5px);
    min-width: 600px;
    height: 100%;
    padding: 30px 30px 20px 0;
}

#goals-bottom {
    text-align: center;
    padding: 30px;
}

.table {
    display: inline-block;
}

.table-block {
    display: inline-block;
    width: 250px;
    vertical-align: top;
}

.table-cell {
    margin-top: -1px;
    margin-left: -5px;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: white;
    padding: 5px 15px;
    text-align: left;
    font-weight: 300;
}

.table-cell span {
    float: right;
    font-weight: 500;
    width: 80px;
    text-align: left;
}

.table-cell:nth-child(even) {
    background-color: #F2F2F2;
}

.table-block:nth-child(3) .table-cell {
    background-color: white;
    height: 176px;
    padding: 25px;
}

#table-button-weight, #table-button-exercise {
    width: 100%;
    padding: 15px;
    color: white;
    text-align: center;
}

#table-button-weight {
    background-color: #F8A032;
}

#table-button-weight:hover {
    background-color: #F9B157;
    cursor: default;
}

#table-button-exercise {
    background-color: #8BC1E7;
    margin-top: 16px;
}

#table-button-exercise:hover {
    background-color: #A0CCEB;
    margin-top: 16px;
    cursor: default;
}

/* GOALS MOBILE */

@media screen and (max-width: 600px) {
    #goals-top {
        height: auto;
    }

    #goals-top-left {
        display: block;
        width: 100%;
        min-width: 0;
        padding: 20px 20px 10px 20px;
    }

    #chart-container {
        display: block;
        width: 100%;
        min-height: 275px;
        height: auto;
        min-width: 0;
        padding: 20px;
        margin-bottom: 25px;
    }

    #goals-bottom {
        padding: 20px 30px;
    }

    .table-block {
        width: 100%;
        margin: 10px 0;
    }
}

/* GROUPS PAGE */

.groups-list {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 275px;
    background-color: white;
    min-height: 100vh;
    text-align: left;
    border-left: solid 1px rgba(0,0,0,0.1);
    transition: 0.5s;
}

.groups-list li {
    list-style: none;
}

.groups-list li a {
    text-decoration: none;
    border-bottom: solid 1px rgba(0,0,0,0.1);
    padding: 20px 30px;
    display: block;
    color: black;
    font-weight: 400;
    font-size: 15px;
}

.groups-list li a:hover {
    background-color: rgba(0,0,0,0.05);
}

.groups-list li a span {
    color: rgba(0,0,0,0.5);
    font-size: 13px;
    font-weight: 300;
    display: block;
    max-width: 214px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.groups-list li a:focus, .groups-list li a:active {
    outline: none;
}

#groups-side-bottom {
    width: 274px;
    background-color: white;
    padding: 10px 5px;
    position: fixed;
    bottom: 0;
    right: 0;
    border-top: solid 1px rgba(0,0,0,0.1);
    transition: 0.5s;
}

#groups-side-bottom p {
    margin: 10px 30px 10px 50px;
    font-weight: 300;
}

#groups-side-bottom i {
    font-size: 20px;
    color: rgba(0,0,0,0.4);
    float: right;
    margin-right: 20px;
}

#groups-side-bottom i:hover {
    color: rgba(0,0,0,0.8);
}

.groups-messages {
    padding: 10px 10px 60px 10px;
    width: calc(100% - 275px);
    background-color: rgba(0,0,0,0.03);
    min-height: 100vh;
}

.groups-messages .profile-picture {
    vertical-align: top;
    margin-top: 5px;
}

.groups-messages p, .groups-messages div {
    vertical-align: middle;
}

.groups-messages h6 {
    margin: 5px 0 -5px 45px;
    color: rgba(0,0,0,0.5);
    font-weight: 300;
}

.groups-messages p {
    padding: 5px 15px;
    border-radius: 20px;
    margin: 5px;
    background-color: rgba(0,0,0,0.1);
    display: inline-block;
    max-width: 60%;
    font-weight: 400;
}

.groups-messages-user {
    text-align: right;
}

.groups-messages-user h6 {
    margin: 5px 45px -5px 0;
    color: rgba(0,0,0,0.5);
    font-weight: 300;
}

.groups-messages-user p {
    background-color: orange;
    color: white
}

.groups-messages-added {
    margin: 5px 0 !important;
    display: block !important;
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    background-color: transparent !important;
    font-size: 12px;
    color: rgba(0,0,0,0.5);
    font-weight: 300;
    text-align: center;
}

.groups-chat-box {
    display: block;
    padding: 10px;
    position: fixed;
    background-color: white;
    bottom: 0;
    width: calc(100% - 525px);
    border-top: solid 1px rgba(0,0,0,0.1);
}

.groups-temp {
    width: calc(100% - 40px);
    padding: 5px 10px;
    border-radius: 30px;
    border: solid 1px rgba(0,0,0,0.1);
    outline: none;
    background-color: rgba(0,0,0,0.03);
}

#tabs form button {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: white;
    border: solid 1px rgba(0,0,0,0.1);
    outline: none;
    color: rgba(0,0,0,0.5);
}

#tabs form button:hover {
    color: black;
}

/* GROUPS MOBILE */

@media screen and (max-width: 600px) {
    .groups-list {
        right: -275px;
    }

    #groups-side-bottom {
        right: -275px;
    }

    .groups-messages {
        width: 100%;
        padding-top: 20px;
    }

    .groups-chat-box {
        width: 100%;
    }

    .groups-temp {
        width: calc(100% - 45px);
        font-size: 16px;
    }

    #tabs form button {
        height: 36px;
        width: 36px;
        font-size: 13px;
    }
}

/* SETTINGS PAGE */

#settings-container {
    padding: 40px;
}

#settings-top-bar {
    margin-bottom: 20px;
}

#settings-top-information {
    display: inline-block;
    height: 150px;
    vertical-align: top;
    padding: 40px 0 0 30px;
}

.profile-picture {
    display: inline-block;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.message-adjust {
    margin-top: 0;
}

.settings-row {
    width: 100%;
    padding: 0 0 10px 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px rgba(0,0,0,0.1);
    overflow-x: scroll;
}

.settings-row h3 {
    color: #F8A032;
    font-size: 23px;
    margin-bottom: 10px;
}

.settings-row table {
    min-width: 200px;
    max-width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.settings-row td, .settings-row th {
    text-align: left;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.2);
}

.settings-row-section {
    display: inline-block;
}

.settings-first {
    font-weight: 300;
    margin-right: 20px;
}

.settings-second {
    font-weight: 400;
}

#settings-container form {
    display: inline-block;
}

.settings-button-container {
    margin: 5px 0 10px 0;
}

.settings-button {
    display: inline-block;
}

.settings-button a, .settings-button button {
    display: inline-block;
    margin: 15px 5px 0 0;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #F8A032;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

.settings-button-2 a, .settings-button-2 button {
    padding: 5px 20px;
}

.settings-button a:hover, .settings-button button:hover {
    background-color: #FFBD60;
}

.settings-button button:focus {
    outline: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
    overflow: auto;
    padding: 40px 0;
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
}

.modal-content .close {
    float: right;
    color: rgba(0,0,0,0.5);
    margin: 5px 5px 0 0;
    font-size: 20px;
}

.modal-content .close:hover {
    color: black;
}

.modal-content h3 {
    font-size: 25px;
    color: #F8A032;
    margin: 10px 0 25px 0;
    padding-bottom: 15px;
    border-bottom: solid 1px rgba(0,0,0,0.1);
    font-weight: 500;
}

.modal-content button {
    margin: 15px 5px 0 0;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #F8A032;
    font-size: 15px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #FFBD60;
}

.modal-content button:focus {
    outline: none;
}

/* SETTINGS MOBILE */

@media screen and (max-width: 600px) {
    .modal {
        padding: 10px;
    }

    .modal-content {
        width: 100%;
    }

    #settings-top-bar {
        text-align: center;
    }

    #settings-top-bar .profile-picture {
        display: inline-block;
        margin-bottom: 10px;
    }

    #settings-top-information {
        padding: 0;
        height: auto;
        width: 100%;
        text-align: center;
    }
}
