* {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
}

nav {
    position: fixed;
    height: 100%;
    width: 250px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #F37335, #FDC830);
    color: white;
}

#logo {
    margin: 40px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

#logo i {
    margin-right: 5px;
}

nav a {
    display: table;
    width: 100%;
    padding-left: 30px;
    text-decoration: none;
    color: white;
    font-weight: 300;
}

nav a span, nav a p {
    display: table-cell;
    vertical-align: middle;
}

nav a span {
    height: 40px;
    width: 50px;
    text-align: center;
}

.selected, nav a:hover {
    color: #F58233;
    background-color: white;
}

main {
    margin-left: 250px;
}

#home-container {
    color: rgba(0,0,0,0.4);
    text-align: center;
}

#home-container h1 {
    font-weight: 100;
    font-size: 40px;
    margin-top: 70px;
}

#home-container h2 {
    font-weight: 100;
    font-size: 30px;
    margin-top: 40px;
}

#home-container h3 {
    margin: 30px 0;
    color: #F58233;
    font-size: 25px;
}

.ldBar-label {
    color: rgba(0,0,0,0.4);
    font-weight: 100;
    font-size: 25px;
}

.progress-circle {
    display: inline-block;
}

#daily_log_body h2 {
    font-weight: 100;
    font-size: 30px;
    text-align: center;
}

#home-progress-container {
    text-align: center;
}

#daily-log-progress-container {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(0,0,0,0.1);
}

#daily_log_body {
    width: calc(100% - 275px);
    padding: 30px;
    text-align: center;
}

#meal_select {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    width: 275px;
    background-color: white;
    height: 100vh;
    text-align: left;
    border-left: solid 1px rgba(0,0,0,0.1);
}

#meal_select div {
    margin: 20px;
}

#meal_select h3 {
    font-weight: 500;
    font-size: 18px;
    color: rgba(0,0,0,0.8);
}

#meal_select h4 {
    font-weight: 300;
    font-size: 14px;
    color: rgba(0,0,0,0.4);
}

.footer {
  position: fixed;
  margin-left: 0;
  bottom: 0;
  height: 12%;
  width: 85%;
  background-color: white;
  color: white;
  text-align: left;
}

.row {
    display: flex;
}

.flex-container {
    width: 50%;
  flex-direction: column;
}

#scrollboxLeft {
    overflow: auto;
    height:195px;
    width:470px;
    font-size: 16px;
    margin-left: 50px;
    border: 6px solid;
    border-image: linear-gradient(to bottom, #8BC1E7, #D4E8F6) 1;
    background-color: #EBEBEB;
}

#scrollBoxRight {
    overflow: auto;
    height: 110px;
    width: 470px;
    font-size: 16px;
    margin-left: 20px;
    border: 6px solid;
    border-image: linear-gradient(to bottom, #8BC1E7, #D4E8F6) 1;
    background-color: #EBEBEB;
}

#settingsTitle {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    color: #F37335;
}

#dailyLogTitle {
    margin-left:20px;
    text-align:left;
    font-size: 20px;
    margin-top: 40px;
    color: black;
}

#dailySideBar {
    margin-left:20px;
    text-align:left;
    font-size: 14px;
    margin-top: 5px;
    color: black;
}

#dailyLogButton {
    background-color: white;
    font-size: 20px;
    border: 0px;
    color: #00000080;
}

#button {
    background-color: #EBEBEB;
    font-size: 20px;
    width: 296px;
    padding: 8px 0px 8px 0px;
    margin-left: 50px;
    color: black;
    border: 6px solid;
    border-image: linear-gradient(to bottom, #8BC1E7, #D4E8F6) 1;
}